<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Início </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="overlay">
    <img src="https://media.canva.com/v2/image-resize/format:PNG/height:452/quality:100/uri:ifs%3A%2F%2F%2Fcd38702e-025c-4229-b035-daecc5a07c27/watermark:F/width:800?csig=AAAAAAAAAAAAAAAAAAAAAM09G87cD8r8rm8rikq-rx31-MmWyeJS8jdL2bfX2wYt&exp=1745821202&osig=AAAAAAAAAAAAAAAAAAAAANXwZ4HfcTfADf-FOx-eZKbDP-syjCF5VTdLSMHjqzwm&signer=media-rpc&x-canva-quality=screen" alt="Logo prioriVida" class="logo" />
    <div *ngIf="etapa === 'acesso'" class="acesso">
      <ion-button expand="full" (click)="irParaGrupo()">Entrar</ion-button>
    </div>

    <div *ngIf="etapa === 'grupo'" class="grupo">
      <ion-button expand="full" (click)="escolherGrupo('SP')">Atendimento Preferencial</ion-button>
      <ion-button expand="full" (click)="escolherGrupo('SG')">Atendimento Geral</ion-button>
      <ion-button expand="full" (click)="escolherGrupo('SE')">Retirada de Exames</ion-button>
    </div>

    <div *ngIf="etapa === 'senha'" class="senha">
      <h2>Sua Senha: {{ senha }}</h2>
      <p>{{ dataHora }}</p>
      <ion-button expand="full" (click)="irParaTab2()">Ir para Atendimento</ion-button>
      <ion-button expand="full" (click)="voltarParaInicio()">Voltar para Início</ion-button>
    </div>
  </div>
</ion-content>
